@model IEnumerable<CursoMod165.Models.Category>
<!--  IEnumera.. é uma lista!   -->
@* aqui apresento uma lista com o conteudo da dBase *@


<h1>@SharedLocalizer["Categories"]</h1> <!-- Category Index -->

<p>
    <!--  a proxima linha faz uma acção; cria a opcao de criar um novo customer   -->
    <!-- <a class="btn btn-outline-primary" asp-action="Create">Create New</a> -->
    <a class="btn btn-outline-primary" asp-action="Create">@SharedLocalizer["Create New"]</a>
    
</p>


@*
<!-- Teste - INICIO -->
<!-- Using JavaScript -->
$(document).ready(function() {
    $("#categoriaId").change(function() {
        var categoriaId = $(this).val(); // Obtém o valor selecionado do dropdown

        $.ajax({
            url: "/Produtos/Index", // URL do método Index do controlador Produtos
            type: "GET", // Tipo de requisição (GET)
            data: { categoriaId: categoriaId }, // Dados a serem enviados no corpo da requisição
            success: function(result) {
                // Manipule a resposta aqui
                console.log(result); // Exemplo: exiba a resposta no console
                // Atualize a parte da página que deseja com o resultado retornado do controlador
                $("#resultado").html(result); // Atualiza a div #resultado com o conteúdo retornado
            },
            error: function(error) {
                console.error("Erro na requisição AJAX:", error);
            }
        });
    });
});
<!-- Teste - FIM ->
*@


<!-- Apresento 1º cabecalho e de seguinda num ciclo for o conteudo linha a linha da base de dados -->
<!-- Faz Cabecalho da tabela -->
<table class="table">
    <thead>
        <tr>
            <th>
                <!--  Nome  -->
                <!-- (c) Html.DisplayNameFor(model => model.Name) -->
                @SharedLocalizer[@Html.DisplayNameFor(model => model.Name)]
            </th>

            <th>
                <!--   está só =  Descricao    -->
                @SharedLocalizer[@Html.DisplayNameFor(model => model.Description)]

            </th>
           
            <th>
                <!-- Aqui vamos criar novos botoes na tabela: apagar, modificar etc  -->
                <!-- o que é isto ??? -->
                <!-- titulo da tab para as accoes possiveis na tabela -->
                @SharedLocalizer["Actions"]
            </th>
        </tr>
    </thead>
    
    <!-- Apresenta dados que estao na base de dados -->
    <!-- se a tabela estiver vazia apresenta informacao que esta vazia -->
    <tbody> 
        @if (!Model.Any())
        {
            <!-- (A base de dados nao tem qualquer valor preenchido) -->
            <tr>@SharedLocalizer["No Data"]  </tr>
            
        } 
    <!-- para cada elemento do staff apresenta os seguintes campos -->
    <!-- Os campos tem de coincidir com os de cima -->
        @foreach (var category in Model)
        {
        <tr>
            <td>
                <!-- arroba category.Name -->
                @Html.DisplayFor(modelItem => category.Name)
            </td>

            <td>
                <!-- arroba description.Name -->
                @Html.DisplayFor(modelItem => category.Description)
            </td>

            <td>
                <!--  td é uma celula ou coluna na pagina html -->
                   
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@category.ID">@SharedLocalizer["Edit"]</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@category.ID">@SharedLocalizer["Delete"]</a>
                <a class="btn btn-outline-secondary" asp-action="ProductsByCategory" asp-route-id="@category.ID">@SharedLocalizer["Products By Category"]</a> @**@

            </td>
        </tr>
        }
    </tbody>
    

</table>
