@model IEnumerable<CursoMod165.Models.Product>
<!--  IEnumera.. é uma lista!   -->
@* aqui apresento uma lista com o conteudo da dBase *@


<h1>Products List By Category : </h1>

<h3>    @ViewBag.CategoryName</h3>
<br />

<!-- Apresenta lista de produtos por categoria -->

<!-- Apresento 1º cabecalho e de seguinda num ciclo for o conteudo linha a linha da base de dados -->
<!-- Faz Cabecalho da tabela -->
<table class="table">
    <thead>
        <tr>
            <th>
                <!--  Nome do Produto  -->
                @Html.DisplayNameFor(model => model.Description)
            </th>

            @*
            <th>
                <!--   Categoria associada    -->
                @Html.DisplayNameFor(model => model.Category.Name)

            </th> *@

           
            <th>
                <!-- Aqui vamos criar novos botoes na tabela: apagar, modificar etc  -->
                <!-- o que é isto ??? -->
                <!-- titulo da tab para as accoes possiveis na tabela -->
                @* Actions *@
            </th>
        </tr>
    </thead>
    
    <!-- Apresenta dados que estao na base de dados -->
    <!-- se a tabela estiver vazia apresenta informacao que esta vazia -->
    <tbody> 
        @if (!Model.Any())
        {
            <tr>No Data  </tr> <!-- (A base de dados nao tem qualquer valor preenchido) -->
            
        } 
    <!-- para cada elemento do staff apresenta os seguintes campos -->
    <!-- Os campos tem de coincidir com os de cima -->
        @foreach (var product in Model)
        {
        <tr>
            <td>
                <!-- arroba category.Name -->
                @Html.DisplayFor(modelItem => product.Description)
            </td>

            @*
            <td>
                <!-- arroba description.Name -->
                    @Html.DisplayFor(modelItem => product.Category.Name)
            </td> *@

            <td>
                <!--  td é uma celula ou coluna na pagina html -->
                

            </td>
        </tr>
        }
    </tbody>
    

</table>


<div class="form-group">
    <!--  fim do formulario   -->
    <!-- link que Sai e volta para a Lista -->
    <a asp-action="Index">Back to List</a>
</div>
